<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SI_HTML</title>
<style type="text/css">
.menu {
	align-content: center;
	align-self: center;
	text-align: center;
	background-color: #B21512;
	font-family: calibri;
	color: white;
	font-weight: bold;
	font-size: 18px;
}
.menu_hd {
	font-family: Trebuchet MS;
	font-weight: bold;
	background: #096BB2;
	color: white;
	text-align: center;
}
.map_main {
	align-self: center;
	align-items: center;
	align-content: center;
}
.menu_text {
	font-family: Trebuchet MS;
	font-size: 14px;
}
.menu_text_left {
	background-color: #147FCC;
	color: white;
	text-align: right;
	width: 200px;
	font-family: Trebuchet MS;
}
.siuntinio_duomenys {
	width: 98%;
	font-weight: bold;
	font-family: Trebuchet MS;
	font-size: 14px;
}
.submit_button {
	width: 100%;
}
.main_menu_text_left {
}
	
	
.naujas_siunt_class {
		width: 98.5%;
	}
.prisijungimas_class {
		width: 98.5%;
	}
</style>
</head>

<body>
<table width="100%" border="0">
  <tbody>
    <tr>    </tr>
  </tbody>
</table>
{% load static %}
<img src="{% static "pagrindinis/logo.png" %}" width="315" height="116" alt=""/>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td><header><hr></header>
		  
        <table border="0">
          <tbody>
            <tr>
              <td width="200px" style="vertical-align: top">
               
               <table width="100%" border="0" class="menu_text" style="vertical-align: top; background-color:#FFFF00">
               <tbody>
                  <tr>
                  <td>
               <table width="100%" border="0" class="menu_text" style="vertical-align: top">
                <tbody>
                  <tr>
                    <td class="menu">Prisijungimas</td>
                  </tr>
                  <tr>
                  	<td style="font-size: 12px; font-weight:Bold">
                  		El. paštas:
                  	</td>
                  </tr>
                  
                  <tr>
					  <td><form action="vartotojo_prisijungimas/" method="POST">
                 {% csrf_token %} 
                 {{form_siunt_login.siuntejo_prisijungimo_vardas}}</td>
                  </tr>
                  <tr>
                    <td style="font-size: 12px; font-weight:Bold">Slaptažodis</td>
                  </tr>
                  <tr>
                    <td>{{form_siunt_login.siuntejo_slaptazodis}}</td>
                  </tr>
                  <tr>
					  <td><input type="submit" class="submit_button" value="Prisijungti"></form></td>
                  </tr>
                  
                  <tr>
                    <td>
                    
                    <table>
                    	<tbody>
                    		<tr>
                    			<td style="width: 70px"><hr></td>
                    			<td style="font-size:12px">arba</td>
                    			<td style="width: 70px"><hr></td>
                    		</tr>
                    		
                    		
                    	</tbody>
                    	
                    	
                    </table>
                    
                    
                    
                    
                    </td>
                  </tr>
                  <tr>
					  <td style="text-align: center"><a href="test" style="font-size:12px">Registruoti naują vartotoją</a></td>
                  </tr>
                  <tr>
                  	<td></td>
                  </tr>
                   <tr>
                    <td><hr></td>
                  </tr>
                  <tr>
                  	<td></td>
                  </tr>
                </tbody>
					  </table></td></tr></tbody></table></td>
              <td width="500px"><table width="100%" border="0">
                <tbody>
                  <tr>
                    <td><table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td class="menu_hd">IŠSIŲSTI SIUNTINĮ</td>
                          
                        </tr>
                        <tr>
                          <td class="menu_text" style="background-color: #FFFF00;"><form action="Siunt_be_reg/" method="POST"><table width="100%" border="0" class="menu_text" style="background-color: #FFFF00;">
						  {% csrf_token %}  
                      <tbody>
                       <tr style="text-align: right">
                       <td style="width: 50%">Apytikslūs išmatavimai:</td>
                       	<td></td>
                       </tr>
                        <tr>
                          <td class="menu_text_left">Svoris (kg, pvz. 12,5):</td>
                          <td>{{form.siuntinio_svoris}}</td>
                        </tr>
                        <tr>
                          <td class="menu_text_left">Ilgis (cm, pvz. 250):</td>
                          <td>{{form.siuntinio_ilgis}}</td>
                        </tr>
                        <tr>
                          <td class="menu_text_left">Plotis (cm, pvz. 100):</td>
                          <td>{{form.siuntinio_plotis}}</td>
                        </tr>
                        <tr>
                          <td class="menu_text_left">Aukštis (cm, pvz. 50):</td>
                          <td>{{form.siuntinio_aukstis}}</td>
						  </tr>
                        <tr style="text-align: right">
                        
							<td>Surinkimo duomenys:</td>
                        	<td></td>
                        </tr>
                        
                        <tr>
                        	<td class="menu_text_left">Surinkimo šalis/miestas:</td>
                        	<td>{{form.siuntinio_vieta}}
							</td>
                        </tr>
                        <tr>
                        	<td class="menu_text_left">Namo numeris/pavadinimas:</td>
                        	<td>{{form.surinkimo_namo_numeris_ar_pav}}
							</td>
                        </tr>
                        <tr>
                        	<td class="menu_text_left">Gatvės pavadinimas:</td>
                        	<td>{{form.surinkimo_gatves_pavadinimas}}
							</td>
                        </tr>
                        <tr>
                        	<td class="menu_text_left">Pašto kodas:</td>
                        	<td>{{form.surinkimo_pasto_kodas}}
							</td>
                        </tr>
                        <tr style="text-align: right">
                       <td>Pristatymo duomenys:</td>
                       	<td></td>
                       </tr>
                        <tr>
                        	<td class="menu_text_left">Pristatymo šalis/miestas:</td>
                        	<td>{{form.siuntinio_tikslas}}
							</td>
                        </tr>
                        <tr>
                        	<td class="menu_text_left">Namo numeris/pavadinimas:</td>
                        	<td>{{form.pristatymo_namo_numeris_ar_pav}}
							</td>
                        </tr>
                        <tr>
                        	<td class="menu_text_left">Gatvės pavadinimas:</td>
                        	<td>{{form.pristatymo_gatves_pavadinimas}}
							</td>
                        </tr>
                        <tr>
                        	<td class="menu_text_left">Pašto kodas:</td>
                        	<td>{{form.pristatymo_pasto_kodas}}
							</td>
                        </tr>
                        
                        <tr style="text-align: right">
                        
							<td>Kita informacija:</td>
                        	<td></td>
                        </tr>
                        
                        <tr>
                        	<td class="menu_text_left">Siuntinio apibūdinimas:</td>
                        	<td>{{form.siuntinio_apibudinimas}}
							</td>
                        </tr>
                        
                        <tr>
                        	<td class="menu_text_left">Gavėjo telefono numeris:</td>
                        	<td>{{form.gavejo_tel_numeris}}
							</td>
                        </tr>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                         <tr>
                          <td>&nbsp;</td>
                          <td><input type="submit" class="submit_button" value="Tęsti"></td>
                        </tr>
                      </tbody>
                    </table></form></td>
						
                          
                        </tr>
                      </tbody>
                    </table>
                      </td>
                  </tr>
                  <tr>
                    <td class="menu_text"></td>
                  
                  </tr>
					<tr>
						<td><br></br></td>
					</tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table></td>
              <td width="250px" style="vertical-align: top">
              
              <table width="100%" border="0" class="menu_text" style="vertical-align: top; background-color:#FFFF00">
               <tbody>
                  <tr>
                  <td>
               <table width="100%" border="0" class="menu_text" style="vertical-align: top; background-color:#FFFF00">
                <tbody>
                <tr>
                	<td style="text-align: center; background-color: #FFFF00; color:black;font-weight: 400">Gidas<br><hr></td>
                </tr>
                <tr>
					<td style="font-size: 12px;"><br>Sveiki atvykę!<br><br><a style="font-weight: bold"><u>Siuntėjams:</u></a><br><a style="text-align: justify">Norėdami išsiųsti siuntinį užpildykite siuntinio formą viduryje. Jeigu jau esate prisiregistravęs arba norite iš pradžių usiregistruoti prisijunkite arba registruokite naują vartotoją kairėje pusėje.</a><br><br><a style="font-weight: bold"><u>Vežėjams:</u></a><br>Norėdami susirasti siuntinių vežimui prisijukite kairėje pusėje, arba spauskite and "registruoti naują vartotoją.<br><br><a style="font-weight: bold"><u>Apie sistemą:</u></a><br>Sistemos tikslas sujungti visus smulkius siuntinių vežėjus į vieną duomenų bazę, taip pat suteikti siuntėjam patogią sistemą siuntinių išsiuntimui. Sistemos funkcijos taip pat suteikia galimybę vežėjam administruoti savo siuntinių srautus ir komunikacija su siuntėjais.</td>
                </tr>
				   </tbody>
					  </table>
					  </td>
				   </tr>
				  </tbody></table>
              
              
              
              
              </td>
            </tr>
            
          </tbody>
        </table>
      </td>
    </tr>
    <tr></tr>
  </tbody>
</table>
</body>
</html>
