<table width="100%" border="0" class="menu_text">
                      <tbody>
                        <tr>
                          <td class="menu">Registracijos patvirtinimas</td>
                          
                        </tr>
						
						
						
						<tr><td class="menu_text" style="padding: 10px; background-color: #FFEF00">
						<table style="border-radius: 10px; cellspacing:10"><tbody>
						<tr><td>
						Naujas siuntejo vartotojas <a style="font-weight:Bold">{{login_full_name}}</a> buvo sėkmingai sukurtas.
						<br><br>
						Kitą kartą prisijunkite į sistemą naudodami savo el. pašto adresą kaip prisijungimo vardą ir slaptažodį kurį nurodėte.
						<br><br>
						Norėdami išsiųsti naują siuntinį - spauskite and "išsiųsti siuntinį" nuorodos.
						</td></tr></tbody></table>
								
								
								
								
								</td></tr>
						
						
						
                        
                      </tbody>
                    </table>
