<table width="100%" border="0" class="menu_text" style="vertical-align: top; background-color:#FFFF00">
               <tbody>
                  <tr>
                  <td>
               <table width="100%" border="0" class="menu_text" style="vertical-align: top; background-color:#FFFF00">
                <tbody>
                <tr>
                	<td style="text-align: center; background-color: #FFFF00; color:black;font-weight: 400">Gidas<br><hr></td>
                </tr>
                <tr>
					<td style="font-size: 12px;"><br><a style="font-weight: bold"><u>Mano siuntiniai:</u></a><br><a style="text-align: justify">Paspaudę kairėje pusėje ant "Mano siuntiniai" nuorodos matysite visas savo siuntų surinkimo užklausas, kartu su vežėjo informacija (jeigu jau patvirtinta)</a><br><br><a style="font-weight: bold"><u>Išsiųsti siuntinį:</u></a><br><a>Norėdami išsiųsti siuntinį spauskite and "Išsiųsti siuntinį" nuorodos ir užpildykite formą su visa reikia informacija</a><br><a style="font-weight: bold"><u></u></a><br></td>
                </tr>
				   </tbody>
					  </table>
					  </td>
				   </tr>
				  </tbody></table>