<table width="100%" border="0" class="menu_text" style="vertical-align: top">
                <tbody>
                  <tr>
					  <td class="menu">{{login_full_name}}</td>
                  </tr>
                  <tr>
                  	<td style="text-align: center">
						<a href="mano_siuntiniai/">Mano siuntiniai</a>
                  	</td>
                  </tr>
                  
                  <tr>
					  <td style="text-align: center"><a href="issiusti_siuntini">Išsiųsti siuntinį</a></td>
                  </tr>
                  <tr>
                  	<td><br></td>
                  </tr>
                  <tr>
                    <td style="text-align: center"><a href="/pagrindinis/logout/">Atsijungti</a></td>
                  </tr>
                  
                  <tr>
                  	<td></td>
                  </tr>
                </tbody>
					  </table>