<table width="100%" border="0">
                      <tbody>
                        <tr>
                          <td class="menu">Mano siuntiniai</td>
                          
                        </tr>
                        <tr>
                          <td class="menu_text" style="background-color: #FFEF00;">
                          	<table width="100%" border="1" cellspacing="0" style="border-color: white">
							<form method="post" action="redaguoti/">
							{% csrf_token %}
							
                          		<tr style="font-size: 12px; color: #B21512; font-weight: bold" class="menu_text">
                          			<td align="center">ID</td>
                          			<td align="center">Apibūdinimas</td>
                          			<td align="center">Vežėjas</td>
                          			<td align="center">Kontaktai</td>
                          			<td align="center">Surinkimo data</td>
                          			<td align="center">Pristatymo data</td>
                          			<td align="center">{% load static %}<img src="{% static "pagrindinis/modify.png" %}" width="15" height="15" alt=""/></td>
                          		</tr>
                          		
                          		{% for x in siuntiniai_data %}
                          		<tr>
                          		{% for y in x %}
                          		<td align="center">{% if y is None %}
                          		
                          		-
                         		  {% elif y == "Redaguoti" %}
								  <button type="submit" name="redaguoti" class="button_mano_siuntiniai" value="{{x.0}}">Redaguoti</button>
								  {% elif y == "Įvertink vežėją" %}
								  <a>Pristatytas</a>
								  <!--
								  <button type="submit" name="ID{{y.0}}" class="button_mano_siuntiniai" value="Ivertink">Įvertink vežėją</button>
								  -->
								  
								  
								  {% else %}
                          		  {{y}}
                          		
                          		{% endif %}
								</td>
                         		
                          		{% endfor %}
								</tr>
                          		{% endfor %}
                          	
							
							</form>
                          	</table>
                          	
                          	
                          	
                          </td>
						
                          
                        </tr>
                      </tbody>
                    </table>
