<table width="100%" border="0" class="menu_text" style="vertical-align: top; background-color:#FFEF00">
               <tbody>
                  <tr>
                  <td>
               <table width="100%" border="0" class="menu_text" style="vertical-align: top; background-color:#FFEF00">
                <tbody>
                <tr>
                	<td style="text-align: center; background-color: #FFEF00; color:black;font-weight: 400">Gidas<br><hr></td>
                </tr>
                <tr>
					<td style="font-size: 12px;"><br>Sveiki atvykę!<br><br><a style="font-weight: bold"><u>Siuntėjams:</u></a><br><a style="text-align: justify">Norėdami išsiųsti siuntinį užpildykite siuntinio formą viduryje. Jeigu jau esate prisiregistravęs arba norite iš pradžių usiregistruoti prisijunkite arba registruokite naują vartotoją kairėje pusėje.</a><br><br><a style="font-weight: bold"><u>Vežėjams:</u></a><br>Norėdami susirasti siuntinių vežimui prisijukite kairėje pusėje, arba spauskite and "registruoti naują vartotoją.<br><br><a style="font-weight: bold"><u>Apie sistemą:</u></a><br>Sistemos tikslas sujungti visus smulkius siuntinių vežėjus į vieną duomenų bazę, taip pat suteikti siuntėjam patogią sistemą siuntinių išsiuntimui. Sistemos funkcijos taip pat suteikia galimybę vežėjam administruoti savo siuntinių srautus ir komunikacija su siuntėjais.</td>
                </tr>
				   </tbody>
					  </table>
					  </td>
				   </tr>
				  </tbody></table>
